
@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <div class="jumbotron">
        <h1 class="display-4">Coach!</h1>

        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register Player</a></li>
        </ul>
    </div>
}


